figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
*.swp
.DS_Store
.cljs_rhino_repl/
.lein-failures
.rebel_readline_history
.cljs_nashorn_repl/
nashorn_code_cache/
node_modules/
resources/public/js
!resources/public/js/regenerator.js
.shadow-cljs
*.log
src/lab/experiments/private
.DS_Store
