^{:css-dirs ["resources/public/css"]
  :open-url false}
{:main lab.core
 :foreign-libs [{:file "src/leaflet.movingmarker.js"
                 :requires ["cljsjs.leaflet"]
                 :provides ["leaflet-movingmarker"]}]}
