{
  :source-paths ["src"]
  :dependencies [[hiccup "1.0.5"]
                 [hiccups "0.3.0"]
                 [com.cognitect/transit-cljs "0.8.256"]]
  :dev-http      {9500 "resources/public"}
  :builds        {:lab       {:target         :browser
                              :output-dir     "resources/public/js"
                              :compiler-options {:optimizations  :simple
                                                 :output-wrapper false}
                              :asset-path     "js"
                              :modules        {:main {:entries [lab.core]}}}

                  :bootstrap {:target        :bootstrap
                              :output-dir    "resources/public/js/bootstrap"
                              :exclude       #{cljs.repl cljs.js cljs.core.async.macros lab.core hiccups.core}
                              :entries       [cljs.js goog lab.layout lab.session lab.parsing lab.map lab.graph lab.console lab.vis lab.views lab.dashboard lab.helpers lab.core lab.eval lab.autodetect hiccups.runtime jquery lab.codemirror]}}}
