/* some style */

html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}
body {
    margin: 0; padding: 0;
    min-height: 100%;
    max-width: 100%;
    display: flex;
}
.view {
    display: flex;
    align-self: stretch;
    width: 100%;
}

.graph, .map, .vis, .console {
    flex: 1;
    align-self: stretch;
}

.console {
    overflow: auto;
}
.console span.row {
    display: block;
    font-family: "Menlo";
    font-size: 10pt;
    margin-bottom: 0.25em;
}
.console span.date {
    font-weight: bold;
}
.console span.date:after {
    content: " - ";
}

.graph {
    display: none;
    align-self: center;
    max-width: 95%;
}
.vis, .console {
    display: none;
}

.c3-axis {
    fill: #aaa;
}
.c3-axis path.domain, .c3-axis .tick line {
    stroke: #aaa;
}
.c3-line {
    stroke-width: 2;
}
.c3-circles {
    visibility: hidden;
}
text {
    font-family: 'Roboto';
    font-size: 10pt;
}

#repl {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8em;
  border: 0;
  z-index: 10000;
  font-size: 14pt;

  box-shadow: 0px 0px 6px 2px rgba(7, 54, 66, 0.99) !important;
  background-color: rgba(7, 54, 66, 0.99);
}
